/*
	Rosa: 	#C6426E
	Morado:	#642B73
	Negro:	#999
	Gris:	#F5F5F5
	Link:	#D500F9
 */
html{
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color: #D500F9;
}

.title {
	text-transform: uppercase;
}

.container {
	background: #642B73;
	background: -webkit-linear-gradient(to right, #C6426E, #642B73);
	background: linear-gradient(to right, #C6426E, #642B73);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	box-shadow: 0 3px 6pc rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 4px;
}

.paragraph {
	line-height: 1.8em;
	font-weight: 300;
}

.fa-star, .fa-star-o {
	color: #FFC400;
}

.table {
	width: 100%;
	border-spacing: 0;
}

.table td, .table th {
	padding: 1em;
	text-align: left;
}

.table tr:nth-child(even){
	background-color: #F3E5F5;
}

.title-item {
	/*border-bottom-style: solid;
	border-width: 2px;
	border-color: #C6426E;*/

	border-bottom: solid 2px #C6426E;
	padding-bottom: 1em;
}

.position {
	background-color: #C6426E;
	color: white;
	padding: 10px;
	border-radius: 4px;

}